@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Andika";
  src: url("/fonts/Andika-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply font-andika;
  }
}
